:root {
    --primary-green: #008459;
    --dark-green: #006342;
    --light-grey: #E1F5EF;

    --beige: #EAE9E5;
    --dark-beige: #A9A094;

    --font-primary: #776D6D;
    --font-secondary: #B5BBBA;
    --font-grey: #009163;
}

header nav {
    display: flex;
    justify-content: space-around;
    align-items: center;

    height: 150px;
    /* background: red; */

    padding: 0 40px;
}

header nav #logo {
    width: 50px;
    object-fit: contain;
}

header nav ul {
    display: flex;
    margin: auto 15px;
}

header nav ul svg {
    color: var(--font-primary);
}

header nav ul li {
    margin: auto 10px;
    font-size: 12px;
    font-weight: 500;
}

header nav ul li a {
    text-decoration: none;
    color: var(--font-primary);
}

header nav input {
    height: 25px;
    border: 0;
    border-bottom: 1px solid var(--font-secondary);
    font-size: 12px;
    min-width: 300px;
    padding-right: 25px;
    color: var(--font-secondary);
}

header nav input::placeholder {
    color: var(--font-secondary);
}

header nav input:focus {
    outline: none;
}

header nav .input-container {
    margin: auto;
    position: relative;
}

header nav .input-container svg {
    position: absolute;
    top: 0;
    right: 0;
    color: var(--font-secondary);
    width: 20px;
}
