:root {
    --primary-green: #008459;
    --dark-green: #006342;
    --light-grey: #E1F5EF;

    --beige: #EAE9E5;
    --dark-beige: #A9A094;

    --font-primary: #776D6D;
    --font-secondary: #B5BBBA;
    --font-grey: #009163;
}

header nav {
    display: flex;
    height: 150px;
    background: red;

    padding: 0 40px;
}

header nav #logo {
    width: 50px;
    object-fit: contain;
}


